# ==========================================
# Environment / Secrets
# ==========================================

.env
.env.*
!.env.example


# ==========================================
# Python
# ==========================================

.venv/
venv/

__pycache__/
*.py[cod]
*.pyo

.pytest_cache/
.coverage
htmlcov/


# ==========================================
# Node / React
# ==========================================

node_modules/
dist/
.vite/


# ==========================================
# Data
# ==========================================

data/raw/*
data/processed/*


# ==========================================
# IDE
# ==========================================

.vscode/
.idea/


# ==========================================
# Logs
# ==========================================

*.log


# ==========================================
# OS
# ==========================================

.DS_Store
Thumbs.db